@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: lightblue;
    font-family: 'Roboto', sans-serif;
}

/* buttons */
.easy-btn{
    background:  #04AA6D;
}
.easy-btn:hover {
    background-color: #2ea97c; 
    color: white;
}

.medium-btn{
    background: #ffbd03;
}
.medium-btn:hover {
    background-color: #edb723;
    color: white;
}
.hard-btn{
    background: #ff8503;
}
.hard-btn:hover {
    background-color: #ef9c42; 
    color: white;
}
.expert-btn{
    background: #ED0800;
}
.expert-btn:hover {
    background-color: #e0433e; 
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
}

.wrapper{
    width: 700px;
    padding: 35px;
    background: white;
    border-radius: 10px;
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.content-box .typing-text{
    max-height: 255px;
    overflow: auto;
}
.typing-text::-webkit-scrollbar{
    width: 0;
}
.typing-text p{
    color: rgb(126, 125, 125);
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    /* word-break: break-all; */
}

.typing-text p span{
    position: relative;
}
.typing-text p span.correct{
    color: #2ea97c;
 
}
.typing-text p span.incorrect{
    color: #cb3439;
    outline: 1px solid #fff;
    background: #ffc0cb;
    border-radius: 4px;
}

.typing-text p span.active{
    color: rgb(0, 0, 0);
}

.typing-text p span.active::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 2.5px;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #2ea97c;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  50%{ 
    opacity: 1; 
  }

}
.user-input{

    width: 100%;
    height: 50px;
    border-radius: 5px;
}
.content-box .content{
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}
.content button{
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: #2ea97c;
 }

.content .result-details{
    display: flex;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
 }
.result-details li{
    /* display: flex; */
    list-style: none;
    position: relative;
    /* align-items: center; */
    /* height: 20px; */
}
.result-details li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #ccc;
} 
.result-details li p{
    font-size: 19px;
}
.result-details li span{
    display: block;
    font-size: 20px;
    margin-left: 10px;
}



 